nav {display: flex;
     justify-content: space-between;
    
     padding:0px 20px;
     
}
     body{
    margin:0;
    padding:0;
    }
.logo { width: 70px;
        }
.profileimage {width: 30px;
height: 30px;
border-radius:  70%;
}
.right-nav {
    display: flex;
    align-items: center;
    gap: 10px;
    flex: 30%;
    justify-content: end;
}
.left-nav {
    flex: 30%;
}
.middle-nav { 
   flex: 40%;
   
   

}
.search{  
          Background-color: white;
          height: 40px;
          border: 1px solid black;
          border-radius: 20px;
          outline: none;
}
input {
    width: 70%;
    height: 100%;
    overflow: hidden;
    Padding-left: 10px;
    outline: none;
    border: none;

}
.create-btn {
    border: none;
    width: fit-content;
    padding: 6px 15px;
    border-radius: 20px;
    font-weight: 500;
    cursor: pointer;
    margin-right: 30px;
}
    .create-btn:hover {
         Background-color: rgb(213, 208, 208);
    }
    .mic {
        border-radius: 50%;
        width: 30px;
        height: 30px;
        margin-left: 10px;
        border: none;
        background-color: rgb(225, 225, 225);
    }
    .create-btn i{
        margin-right: 5px;
    }
    .notification {
        border: none;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        justify-content: center;
       display: flex;
        align-items: center;
        position: relative;
        } 
.notification button {
    background: none;
    border: none;
}
    .notification:hover {
       background-color: rgb(225, 225, 225);;
    }
    .notification div{
        width: fit-content;
        background-color: red;
        font-size: 10px;
        color: white;
        position: absolute;
        top: 0px;
        right: 0px;
        padding: 0px 5px;
        border-radius: 6px;
        font-weight: 600;

    }

    